services:
 borgserver:
  image: losflebos/borgserver
  container_name: borgserver
  build: .
  volumes:
   - /home/borg/backup:/backup
   - /home/borg/sshkeys:/sshkeys
  ports:
   - "4804:22"
  env_file:
    - stack.env
  environment:
  # Additional Arguments, see https://borgbackup.readthedocs.io/en/stable/usage/serve.html
    BORG_SERVE_ARGS: ""

    # If set to "yes", only the BORG_ADMIN
    # can delete/prune the other clients archives/repos
    BORG_APPEND_ONLY: "yes"

    # Filename of Admins SSH-Key; has full access to all repos
    BORG_ADMIN: "unsyn-borg-ui"

  restart: always
